* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
    background: #F0EFEB;
    position: relative;
}



.form-box {
    
width: 500px;
height: 500px;
background-color: azure;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
-webkit-box-shadow: 0px 5px 24px 11px rgba(28, 33, 37, 0.27);
-moz-box-shadow: 0px 5px 24px 11px rgba(28, 33, 37, 0.27);
box-shadow: 0px 5px 24px 11px rgba(28, 33, 37, 0.27);
}
.log {
    text-align: center;
    margin-top: 20px;
    
}
form {


}
.lr {
    
}
.rr {
display: none;

}
.lr.active {
 display: none;   
}
.rr.active {
    display: block;
}
.form-title {
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 80px;
    font-size: 40px;
}
.form-input {
    
    padding:0 20px;
}
.form-input input  {
    margin-top: 30px;
    -webkit-box-shadow: 0px 7px 9px -4px rgba(28, 33, 37, 0.27);
-moz-box-shadow: 0px 7px 9px -4px rgba(28, 33, 37, 0.27);
box-shadow: 0px 7px 9px -4px rgba(28, 33, 37, 0.27);
    padding-left: 15px;
    padding-top: 5px;
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    color: black;
    font-size: 20px;
    
    
}
.form-input input:focus:valid
 {
    outline: 2px solid gray;
    border-radius: 5px;
}
.login-form a {
    text-decoration: none;
    text-transform: uppercase;
    color: gray;
    text-align: center;
    display: block;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 900;
}
.login-form a:hover {
    text-decoration: underline;
}
.btn-inp {
position: absolute;
display: flex;
align-items: center;
width: 100%;
bottom: 0;
}
.btn-inp button {
    
    text-align: center;
    border: none;
    width: 50%;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}
.reg-btn:hover,.log-btn:hover {
    transform: scale(0.9);
}
.reg-btn {
    transition: .2s;
    background-blend-mode: screen;
    background:
        linear-gradient(limegreen, transparent),
        linear-gradient(90deg, skyblue, transparent),
        linear-gradient(-90deg, coral, transparent);
}
.log-btn {
    transition: .2s;
    background: rgb(151,149,184);
background: linear-gradient(90deg, rgba(151,149,184,1) 0%, rgba(118,194,144,1) 16%, rgba(138,176,159,1) 34%, rgba(140,171,184,1) 78%, rgba(219,208,181,1) 100%);
}